<div>
  <!-- Product Content Start -->
  <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-5">
                  <div class="andro_product-thumb">
                      <img [src]="imageUrl + 'Products/' + product?.attributes?.image?.data?.attributes?.name" [alt]="product?.attributes?.name" style="border-radius: 16px;">
                  </div>
                  <!-- Pagination Start -->
                  <div class="andro_single-pagination">
                      <div class="andro_single-pagination-item andro_single-pagination-prev">
                          <a [routerLink]="['/', 'product', previousProduct?.id]">
                              <div class="andro_single-pagination-thumb">
                                  <img [src]="imageUrl + 'Products/' + previousProduct?.attributes?.thumbnail_image?.data?.attributes?.name" [alt]="product?.attributes?.name">
                              </div>
                              <div class="andro_single-pagination-content">
                                  <h6>{{previousProduct?.attributes?.name}}</h6>
                              </div>
                              <i class="fas fa-chevron-left"></i>
                          </a>
                      </div>
                      <div class="andro_single-pagination-item andro_single-pagination-next">
                          <a [routerLink]="['/', 'product', nextProduct?.id]">
                              <div class="andro_single-pagination-thumb">
                                  <img [src]="imageUrl + 'Products/' + nextProduct?.attributes?.thumbnail_image?.data?.attributes?.name" [alt]="nextProduct?.attributes?.name">
                              </div>
                              <div class="andro_single-pagination-content">
                                  <h6>{{nextProduct?.attributes?.name}}</h6>
                              </div>
                              <i class="fas fa-chevron-right"></i>
                          </a>
                      </div>
                  </div>
                  <!-- Pagination End -->
              </div>
              <div class="col-md-7">
                  <div class="andro_product-single-content">
                      <div class="andro_product-single-controls andro_post-share">
                          <!-- <a href="#" ngbTooltip="Add to Wishlist" class="andro_add-to-favorite"> <i
                                  class="flaticon-like"></i> </a> -->
                          <ul class="andro_sm">
                              <li> <a href="#" ngbTooltip="Share on Facebook"> <i class="fab fa-facebook-f"></i> </a>
                              </li>
                              <li> <a href="#" ngbTooltip="Share on Instagram"> <i class="fab fa-instagram"></i> </a>
                              </li>
                              <li> <a href="#" ngbTooltip="Share on Linkedin"> <i class="fab fa-linkedin-in"></i> </a>
                              </li>
                          </ul>
                      </div>
                      <!-- <div class="andro_rating-wrapper">
                          <div class="andro_rating">
                              <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true">
                                  <ng-template let-fill="fill" let-index="index">
                                      <i class="fa fa-star" [class.active]="fill === 100"></i>
                                  </ng-template>
                              </ngb-rating>
                          </div>
                          <span>{{item.rating}} Stars</span>
                      </div> -->
                      <h3> {{product?.attributes?.name}} </h3>
                      <!-- <div class="andro_product-price">
                          <span *ngIf="item.discount">₹{{item.price * (100 - item.discount) / 100 |
                              number:'1.2-2'}}</span>
                          <span>₹{{item.price| number:'1.2-2'}}</span>
                      </div> -->
                      <p class="andro_product-excerpt">{{product?.attributes?.description}}</p>
                      <ul class="andro_product-meta my-4">
                          <!-- <li>
                              <span>Categories: </span>
                              <div class="andro_product-meta-item">
                                  <a href="#"
                                      *ngFor="let category of getBlogCategory(item.categories)">{{category.title}},</a>
                              </div>
                          </li>
                          <li>
                              <span>Tags: </span>
                              <div class="andro_product-meta-item">
                                  <a href="#" *ngFor="let tags of getBlogTags(item.tags)">#{{tags.title}},</a>
                              </div>
                          </li> -->
                          <li>
                              <span>Fitment Location:</span>
                              <div class="andro_product-meta-item">
                                  <span>{{product?.attributes?.fitment_location}}</span>
                              </div>
                          </li>
                      </ul>
                      <form class="andro_product-atc-form">
                        <!-- <div class="andro_product-variation-wrapper">
                            <div class="form-group">
                                <select class="form-control" name="amount">
                                    <option value="">Select Amount</option>
                                    <option value="10 Piece">10 Piece</option>
                                    <option value="20 Piece">20 Piece</option>
                                    <option value="30 Piece">30 Piece</option>
                                    <option value="40 Piece">40 Piece</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="breed">
                                    <option value="">Select a Breed</option>
                                    <option value="italian">Italian</option>
                                    <option value="egyptian">Egyptian</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="qty-outter">
                            <a class="andro_btn-custom" (click)="requestACallBack()">Request a Callback</a>
                            <!-- <div class="qty">
                                <span class="qty-subtract" (click)="decrement()">
                                    <i class="fa fa-minus"></i>
                                </span>
                                <input type="text" name="qty" value="{{counter}}">
                                <span class="qty-add" (click)="increment()">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div> -->
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Product Content End -->
  <!-- Additional Information Start -->
  <div class="section pt-0">
      <div class="container">
          <div class="andro_product-additional-info">
              <div class="row">
                  <div class="col-lg-4">
                      <ul class="nav andro_sticky-section" ngbNav #nav="ngbNav" [activeId]="(product?.attributes?.name?.toLowerCase()?.includes('front disc brake') || product?.attributes?.name?.toLowerCase()?.includes('independent suspension')) ? 4 : 2">
                          <li [ngbNavItem]="1" *ngIf="product?.attributes?.working_principle">
                              <a ngbNavLink>Working Principle</a>
                              <ng-template ngbNavContent>
                                  <!-- <div [innerHtml]="item.longdescription"></div> -->
                                  <ul *ngFor="let item of product?.attributes?.working_principle">
                                    <li>{{item?.value}}</li>
                                  </ul>
                              </ng-template>
                          </li>
                          <li [ngbNavItem]="2" *ngIf="product?.attributes?.advantages">
                            <a ngbNavLink>Advantages</a>
                            <ng-template ngbNavContent>
                                <!-- <div [innerHtml]="item.longdescription"></div> -->
                                <ul *ngFor="let item of product?.attributes?.advantages">
                                  <li><strong *ngIf="item?.key">{{item?.key}}:</strong> <span [innerHTML]="item?.value"></span></li>
                                </ul>
                            </ng-template>
                          </li>
                          <li [ngbNavItem]="3" *ngIf="product?.attributes?.additional_information">
                              <a ngbNavLink>Additional Information</a>
                              <ng-template ngbNavContent>
                                  <ng-container *ngIf="product?.attributes?.additional_information[0]?.key else productAdditionalInfo;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th scope="col">Key</th>
                                                <th scope="col">Points</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of product?.attributes?.additional_information">
                                                <td> <strong>{{item?.key}}</strong> </td>
                                                <td>
                                                    <span [innerHTML]="item?.value"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                  </ng-container>

                                  <ng-template #productAdditionalInfo>
                                    <ul *ngFor="let item of product?.attributes?.additional_information">
                                      <li>{{item?.value}}</li>
                                    </ul>
                                  </ng-template>
                              </ng-template>
                          </li>
                          <li [ngbNavItem]="4" *ngIf="product?.attributes?.name?.toLowerCase()?.includes('front disc brake')">
                            <a ngbNavLink>Table</a>
                            <ng-template ngbNavContent>
                              <div class="custom-table">
                                <table>
                                  <thead>
                                    <tr>
                                      <th>FEATURE</th>
                                      <th>Disc Brakes</th>
                                      <th>Drum Brakes</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Mechanism of Operation</td>
                                      <td>The caliper squeezes brake pads against a disc.</td>
                                      <td>Brake shoes press outward against a drum.</td>
                                    </tr>
                                    <tr>
                                      <td>Heat Dissipation</td>
                                      <td>More efficient heat dissipation due to open design.</td>
                                      <td>Less efficient heat dissipation due to enclosed design.</td>
                                    </tr>
                                    <tr>
                                      <td>Self-Cleaning</td>
                                      <td>Less prone to debris buildup.</td>
                                      <td>More prone to debris buildup.</td>
                                    </tr>
                                    <tr>
                                      <td>Weight</td>
                                      <td>Generally lighter.</td>
                                      <td>Generally heavier.</td>
                                    </tr>
                                    <tr>
                                      <td>Maintenance</td>
                                      <td>Easier inspection and maintenance due to accessibility.</td>
                                      <td>May require more extensive disassembly for inspection and maintenance.</td>
                                    </tr>
                                    <tr>
                                      <td>Cost</td>
                                      <td>Tends to be more expensive.</td>
                                      <td>Tends to be less expensive.</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </ng-template>
                          </li>
                          <li [ngbNavItem]="4" *ngIf="product?.attributes?.name?.toLowerCase()?.includes('independent suspension')">
                            <a ngbNavLink>Table</a>
                            <ng-template ngbNavContent>
                              <div class="custom-table">
                                <table>
                                  <thead>
                                    <tr>
                                      <th>FEATURE</th>
                                      <th>Independent Suspension</th>
                                      <th>Differential</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Functionality</td>
                                      <td>Each wheel moves independently of the others, improving ride quality and handling.</td>
                                      <td>Distributes torque between the wheels, allowing them to rotate at different speeds.</td>
                                    </tr>
                                    <tr>
                                      <td>Ride Quality</td>
                                      <td>Generally provides a smoother and more comfortable ride, especially on uneven surfaces.</td>
                                      <td>Primarily addresses differences in wheel speeds, less directly related to ride quality.</td>
                                    </tr>
                                    <tr>
                                      <td>Traction and Handling</td>
                                      <td>Enhances traction and handling by allowing each wheel to react independently to road conditions.</td>
                                      <td>Facilitates stability during turns but may not directly improve traction or handling.</td>
                                    </tr>
                                    <tr>
                                      <td>Steering Response</td>
                                      <td>Contributes to more responsive and precise steering due to the independent movement of each wheel.</td>
                                      <td>Not directly related to steering response; focuses on torque distribution.</td>
                                    </tr>
                                    <tr>
                                      <td>Body Roll</td>
                                      <td>Can help minimize body roll during cornering, contributing to improved stability.</td>
                                      <td>Doesn't directly address body roll; relies on other suspension components for stability.</td>
                                    </tr>
                                    <tr>
                                      <td>Customization/Tuning</td>
                                      <td>Allows for customization and tuning of components for a balance between comfort and performance.</td>
                                      <td>Limited customization in terms of ride characteristics; adjustments may focus on differential lock settings.</td>
                                    </tr>
                                    <tr>
                                      <td>Adaptability to Load</td>
                                      <td>Adapts well to changes in load distribution, beneficial for vehicles carrying varying loads.</td>
                                      <td>Does not directly address changes in load distribution; may affect differential performance.</td>
                                    </tr>
                                    <tr>
                                      <td>Unsprung Weight</td>
                                      <td>Can result in lower unsprung weight, contributing to improved handling.</td>
                                      <td>Unsprung weight may vary depending on the design but is generally lower than solid axles.</td>
                                    </tr>
                                    <tr>
                                      <td>Space Utilization</td>
                                      <td>Provides flexibility in vehicle design due to its potentially compact and adaptable nature.</td>
                                      <td>Takes up less space compared to solid axles, providing flexibility in vehicle design.</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </ng-template>
                          </li>
                          <!-- <li [ngbNavItem]="4" *ngIf="product?.attributes.comparative">
                            <a ngbNavLink>Comparative Study</a>
                            <ng-template ngbNavContent>
                                <table>
                                    <thead>
                                        <tr>
                                            <th scope="col">Key</th>
                                            <th scope="col">Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of product?.attributes.additional_information">
                                            <td> <strong>{{item.key}}</strong> </td>
                                            <td>
                                                <span>{{item.value}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-template>
                          </li> -->
                          <li [ngbNavItem]="5" *ngIf="false">
                              <a ngbNavLink>Reviews ({{product?.attributes?.reviews?.length}})</a>
                              <ng-template ngbNavContent>
                                  <h4>Leave a Review</h4>
                                  <div class="andro_rating-wrapper">
                                      <div class="andro_rating">
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                      </div>
                                      <span>Your Review</span>
                                  </div>
                                  <!-- Review Form start -->
                                  <div class="comment-form">
                                      <form method="post">
                                          <div class="row">
                                              <div class="col-md-6 form-group">
                                                  <input type="text" class="form-control" placeholder="Full Name"
                                                      name="fname" value="">
                                              </div>
                                              <div class="col-md-6 form-group">
                                                  <input type="email" class="form-control" placeholder="Email Address"
                                                      name="email" value="">
                                              </div>
                                              <div class="col-md-12 form-group">
                                                  <textarea class="form-control" placeholder="Type your comment..."
                                                      name="comment" rows="7"></textarea>
                                              </div>
                                          </div>
                                          <button type="submit" class="andro_btn-custom primary" name="button">Post
                                              Review</button>
                                      </form>
                                  </div>
                                  <!-- Review Form End -->
                                  <!-- Reviews Start -->
                                  <div class="comments-list">
                                      <ul>
                                          <li class="comment-item" *ngFor="let item of product?.attributes?.reviews">
                                              <img [src]="item?.userimg" [alt]="item?.username">
                                              <div class="comment-body">
                                                  <h5>{{item?.username}}</h5>
                                                  <div class="andro_rating">
                                                      <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true">
                                                          <ng-template let-fill="fill" let-index="index">
                                                              <i class="fa fa-star" [class.active]="fill === 100"></i>
                                                          </ng-template>
                                                      </ngb-rating>
                                                  </div>
                                                  <span>Posted on: {{item?.commentdate}}</span>
                                                  <p>{{item?.comment}}</p>
                                                  <a href="#" class="reply-link"> Reply </a>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                  <!-- Reviews End -->
                              </ng-template>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-8">
                      <div [ngbNavOutlet]="nav"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Additional Information End -->
</div>
<!-- <app-relatedproduct></app-relatedproduct> -->


<ng-template #callBackForm let-modal>
  <div class="modal-body">
      <div class="section-title">
        <h4 class="title">Request a Call Back</h4>
      </div>
      <form method="post" #contactForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-6">
              <input type="text" id="name" placeholder="Full Name" class="form-control" name="name" #fullName="ngModel" [(ngModel)]="contactFormData.name" required>
              <div *ngIf="!fullName?.valid && (fullName?.dirty || fullName?.touched)" class="error">
                <label *ngIf="fullName.errors.required">Name is required</label>
              </div>
            </div>
            <div class="form-group col-6">
              <input type="text" id="phone" placeholder="Phone No." class="form-control" name="phone" #phone="ngModel" [(ngModel)]="contactFormData.contact_number" required pattern="[1-9]{1}[0-9]{9}">
              <div *ngIf="!phone?.valid && (phone?.dirty || phone?.touched)" class="error">
                <label *ngIf="phone.errors.required">Phone No. is required</label>
                <label *ngIf="phone.errors.pattern">Invalid Phone No.</label>
              </div>
            </div>
            <div class="form-group col-12">
              <input type="email" id="email" placeholder="Email Address" class="form-control" name="email" #email="ngModel" [(ngModel)]="contactFormData.email" required email>
              <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="error">
                <label *ngIf="email.errors.required">Email is required</label>
                <label *ngIf="email.errors.email">Invalid Email Address</label>
              </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
          <button type="submit" class="andro_btn-custom primary" name="button"[disabled]="!contactForm.valid || submitted">Submit</button>
          <span class="newsletter-popup-trigger" (click)="modal.dismiss('Cross click')" style="padding: 0 16px; cursor: pointer;">No Thanks</span>
        </div>
        <div class="service-error mt-4" *ngIf="error">
          <ngb-alert type="danger" class="mb-0" [dismissible]="false">
              <strong>Oops!</strong> Something bad happened. Please try again later.
          </ngb-alert>
        </div>
        <div *ngIf="submitted" class="contact-message mt-4">
            <div class="contact-success">
                <ngb-alert type="success" class="mb-0" [dismissible]="false">
                    <strong>Success!</strong> Call Back form has been successfully submitted.
                </ngb-alert>
            </div>
        </div>
    </form>
  </div>
</ng-template>
