<!-- Img Start -->
<div class="section">
  <div class="container">
      <div class="row align-items-end">
          <div class="col-12">
            <blockquote>
              <p class="subtitle">
                Engginno stands as your trusted partner in precision manufacturing. With a relentless commitment to quality,
                innovation, and customer delight, we transform raw materials into precision-engineered solutions that exceed
                expectations.
              </p>
            </blockquote>
          </div>

          <div class="col-lg-8">
              <div class="section-title-wrap">
                  <div class="description my-2">
                    <h4 class="mb-1">Cutting</h4>
                    <div>
                      Utilize advanced cutting methods to shape materials with unparalleled accuracy and efficiency. We
                      excel in tailoring cuts to precise specifications, ensuring optimal material utilization and superior end products.
                    </div>
                  </div>
                  <div class="description my-2">
                    <h4 class="mb-1">Forging</h4>
                    <div>
                      Forge ahead with confidence as we leverage our forging capabilities to create components of
                      exceptional strength and durability. Our forging processes involve shaping metal through controlled heating
                      and compression, resulting in parts that boast superior mechanical properties and structural integrity.
                    </div>
                  </div>
                  <div class="description my-2">
                    <h4 class="mb-1">Heat Treatment</h4>
                    <div>
                      Temperature and time converge in our heat treatment processes to optimize material
                      properties. We meticulously control heating and cooling cycles to enhance toughness, hardness, and resistance
                      to wear or corrosion, ensuring that our components meet the Stringently high-performance prerequisites
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 andro_machine_single-img-wrapper mt-5 mt-lg-0">
            <img src="assets/img/infrastructure/CNC SHOP 2.jpg" alt="img">
            <div class="andro_machine_dots_right"></div>
        </div>
      </div>

      <div class="row align-items-end">
        <div class="col-lg-4 mb-lg-20 andro_machine_single-img-wrapper d-none d-lg-block">
          <img src="assets/img/infrastructure/VMC SHOP.jpg" alt="img">
          <div class="andro_machine_dots_left"></div>
        </div>
        <div class="col-lg-8">
            <div class="section-title-wrap mr-lg-30">
                <div class="description my-2">
                  <h4 class="mb-1">CNC Machining</h4>
                  <div>
                    Experience the pinnacle of precision with our Computerized Numerical Control (CNC)
                    machining services. Our cutting-edge CNC technology enables us to craft intricate parts with microscopic
                    accuracy, allowing for consistency and quality in every piece produced.
                  </div>
                </div>
                <div class="description my-2">
                  <div class="andro_machine_single-img-wrapper d-block d-lg-none mb-4 mb-lg-0 mt-5 mt-lg-0">
                    <img src="assets/img/infrastructure/VMC SHOP.jpg" alt="img">
                    <div class="andro_machine_dots_left"></div>
                  </div>
                  <h4 class="mb-1">VMC Machining</h4>
                  <div>
                    Vertical Machining Centers (VMCs) are the cornerstone of our machining capabilities. With
                    VMC machining, we achieve exceptional precision and versatility, allowing us to efficiently fabricate
                    components with complex geometries and tight tolerances.
                  </div>
                </div>
                <div class="description my-2">
                  <h4 class="mb-1">Other Conventional Machining</h4>
                  <div>
                    Our expertise extends beyond modern techniques; we excel in conventional
                    machining processes as well. From milling and turning to drilling and grinding, our mastery of traditional
                    machining methods ensures Flexibility and comprehensive solutions for diverse manufacturing needs.
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section my-5">
      <div class="container px-0">
          <div class="andro_cta-notice secondary-bg shop-pattern-bg">
              <div class="andro_cta-notice-inner invisible">
                  <h3 class="text-white">Buy Today and Get 20% Off</h3>
                  <p class="text-white">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
                  <a routerLink="/contact" class="andro_btn-custom light">Shop Now</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Img End -->
