<div class="sidebar d-block">
    <!-- Popular Categories Start -->
    <div class="sidebar-widget widget-categories-icons">
        <h5 class="widget-title">Popular Categories</h5>
        <div class="row">
            <div class="col-lg-6 mb-4" *ngFor="let item of category">
                <div class="andro_icon-block text-center has-link h-100 mb-0">
                    <a href="#">
                        <i [class]="item?.icon"></i>
                        <h5>{{item?.addTitle}}</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Categories End -->
    <!-- Popular Tags Start -->
    <!-- <div class="sidebar-widget">
        <h5 class="widget-title">Popular Tags</h5>
        <div class="tagcloud">
            <a routerLink="/blog/{{item.id}}" *ngFor="let item of tags">{{item.title}}</a>
        </div>
    </div> -->
    <!-- Popular Tags End -->
</div>
