<!-- Img Start -->
<div class="section">
  <div class="container">
      <div class="row align-items-start">
          <div class="col-12">
            <blockquote class="left">
              <p class="subtitle">
                At ENGGINNO, maintaining high-quality standards is an
                absolute priority. This commitment is embedded
                throughout our manufacturing operations.
              </p>
            </blockquote>
          </div>

          <div class="row align-items-cnter my-4">
            <div class="col-lg-8">
                <p class="subtitle">
                  Here's a more elaborate description of what this signifies:
                </p>

                <div class="section-title-wrap">
                  <h4 class="mb-1">1. Rigorous Quality Control Measures</h4>
                  <div class="steps">
                    We have stringent
                    protocols and checks in place at every stage of production.
                    These measures are designed to meticulously examine
                    each component. By adhering to these procedures, we
                    ensure that every single piece leaving our facility aligns
                    with our uncompromising quality standards.
                  </div>

                  <h4 class="mb-1">2. Comprehensive Quality Assurance</h4>
                  <div class="steps">
                    Our dedication to quality assurance isn't limited to a particular phase of
                    production. It starts right from the design phase itself. We integrate quality considerations into the initial design
                    process, ensuring that the products are not only functional but also capable of meeting our high-quality
                    benchmarks.
                  </div>

                  <h4 class="mb-1">3. Commitment to Reliability and Durability</h4>
                  <div class="steps">
                    We are committed to delivering components that our clients can
                    rely on. These components aren't just of high quality; they're built to last. Our focus on durability ensures that the
                    products we provide are sturdy, dependable and capable of withstanding the demands of their intended use.
                  </div>

                  <h4 class="mb-1">4. Client-Centric Approach</h4>
                  <div class="steps">
                    Our dedication to quality isn't solely about meeting industry standards; it's about
                    exceeding the expectations of our valued clients. By consistently delivering reliable and durable components,
                    we aim to forge lasting relationships with our clients based on trust and satisfaction.
                  </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex flex-column" style="gap: 16px;">
              <div class="andro_machine_single-img-wrapper">
                <img src="assets/img/quality/STANDARD ROOM1.jpg" alt="img">
                <div class="andro_machine_dots_right"></div>
              </div>

              <div class="andro_machine_single-img-wrapper">
                <img src="assets/img/quality/STANDARD ROOM 2.jpg" alt="img">
                <div class="andro_machine_dots_left"></div>
              </div>
            </div>
          </div>
      </div>

      <div class="row-align-items-center">
        <!-- <div class="section-title-wrap">
          <h4 class="mb-1">2. Comprehensive Quality Assurance</h4>
          <div class="steps">
            Our dedication to quality assurance isn't limited to a particular phase of
            production. It starts right from the design phase itself. We integrate quality considerations into the initial design
            process, ensuring that the products are not only functional but also capable of meeting our high-quality
            benchmarks.
          </div>

          <h4 class="mb-1">3. Commitment to Reliability and Durability</h4>
          <div class="steps">
            We are committed to delivering components that our clients can
            rely on. These components aren't just of high quality; they're built to last. Our focus on durability ensures that the
            products we provide are sturdy, dependable and capable of withstanding the demands of their intended use.
          </div>

          <h4 class="mb-1">4. Client-Centric Approach</h4>
          <div class="steps">
            Our dedication to quality isn't solely about meeting industry standards; it's about
            exceeding the expectations of our valued clients. By consistently delivering reliable and durable components,
            we aim to forge lasting relationships with our clients based on trust and satisfaction.
          </div>
        </div> -->

        <div class="col-12 mt-5">
          <blockquote class="right">
            <p class="subtitle">
              In essence, our emphasis on quality permeates every aspect of our operations, from the initial design stages to
              the final production, all to deliver top-tier components that our clients can rely on without compromise.
            </p>
          </blockquote>
        </div>
      </div>
  </div>
</div>
<!-- Img End -->
