<!-- Img Start -->
<div class="section">
  <div class="container">
      <div class="row align-items-start">
          <div class="col-lg-8">
              <div class="section-title-wrap mr-lg-30">
                  <p class="subtitle">
                    Engginno stands as your trusted partner in precision manufacturing. With a relentless commitment to quality,
                    innovation, and customer delight, we transform raw materials into precision-engineered solutions that exceed
                    expectations.
                  </p>
                  <ul class="andro_list">
                      <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                      <li>Lorem Ipsum has been the industry's</li>
                      <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                      <li>Lorem Ipsum has been the industry's standard dummy</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 mb-lg-20 andro_single-img-wrapper">
            <img src="assets/img/about.jpg" alt="img">
            <div class="andro_dots"></div>
        </div>
      </div>
  </div>
</div>
<!-- Img End -->
