<ul>
    <!-- Level 1 -->
    <li class="andro_category-mm-item andro_category-mm-item-has-children">
        <a href="#"> Parts </a>
        <ul class="andro_category-mm-2-cols">
            <!-- Level 2 -->
            <li>
                <div class="andro_category-mm-banner">
                    <img src="assets/img/megamenu/1.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>Parts</h6>
                        <p>Experience automobile service like never before</p>
                    </div>
                </div>
                <ul>
                    <li> <a href="#">Auto Parts & Auto Body</a> </li>
                    <li> <a href="#">Car Service</a> </li>
                    <li> <a href="#">Bike Service </a> </li>
                    <li> <a href="#">Engine Service </a> </li>
                    <li> <a href="#">Led Lights</a> </li>
                    <li> <a href="#">Battery</a> </li>
                    <li> <a href="#">Alloy Wheels </a> </li>
                    <li> <a href="#">Smart Lock </a> </li>
                    <li> <a href="#">Batteries</a> </li>
                </ul>
                <ul>
                    <li> <a href="#">Horns</a> </li>
                    <li> <a href="#">IndicatorsParts</a> </li>
                    <li> <a href="#">Break Shoe</a> </li>
                    <li> <a href="#">Clutch </a> </li>
                    <li> <a href="#">Tubes</a> </li>
                    <li> <a href="#">Gear Box</a> </li>
                    <li> <a href="#">Led Lamps</a> </li>
                    <li> <a href="#">Petrol Pipes</a> </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="andro_category-mm-item"> <a href="#"> Lights</a> </li>
    <li class="andro_category-mm-item andro_category-mm-item-has-children">
        <a href="#">Shockers</a>
        <ul class="andro_category-mm-2-cols">
            <!-- Level 2 -->
            <li>
                <div class="andro_category-mm-banner">
                    <img src="assets/img/megamenu/2.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>Batteries</h6>
                        <p>Hand made baskets for your organic goods</p>
                    </div>
                </div>
                <ul>
                    <li> <a href="#">Auto Parts & Auto Body</a> </li>
                    <li> <a href="#">Car Service</a> </li>
                    <li> <a href="#">Bike Service </a> </li>
                    <li> <a href="#">Engine Service </a> </li>
                    <li> <a href="#">Led Lights</a> </li>
                </ul>
                <ul>
                    <li> <a href="#">Battery</a> </li>
                    <li> <a href="#">Alloy Wheels </a> </li>
                    <li> <a href="#">Smart Lock </a> </li>
                    <li> <a href="#">Batteries</a> </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="andro_category-mm-item"> <a href="#">Car Service</a> </li>
    <li class="andro_category-mm-item"> <a href="#"> Engine Service</a> </li>
    <li class="andro_category-mm-item"> <a href="#"> Wheels</a> </li>
    <li class="andro_category-mm-item"> <a href="#">Modern Bike Service </a> </li>
    <li class="andro_category-mm-item andro_category-mm-item-has-children andro_category-mm-item-expand">
        <a href="#"> <i class="fas fa-plus"></i> More Categories</a>
        <ul class="andro_category-mm-2-cols">
            <!-- Level 2 -->
            <li>
                <div class="andro_category-mm-banner">
                    <img src="assets/img/megamenu/3.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>More Categories</h6>
                        <p>Explore more categories that we offer</p>
                    </div>
                </div>
                <ul>
                    <li> <a href="#">Auto Parts & Auto Body</a> </li>
                    <li> <a href="#">Car Service</a> </li>
                    <li> <a href="#">Bike Service </a> </li>
                    <li> <a href="#">Engine Service </a> </li>
                    <li> <a href="#">Led Lights</a> </li>
                </ul>
                <ul>
                    <li> <a href="#">Battery</a> </li>
                    <li> <a href="#">Alloy Wheels </a> </li>
                    <li> <a href="#">Smart Lock </a> </li>
                    <li> <a href="#">Batteries</a> </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>