<!-- Img Start -->
<div class="section">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 mb-lg-20 andro_single-img-wrapper">
              <img src="assets/img/images/img (8).jpeg" alt="img">
              <div class="andro_dots_left"></div>
          </div>
          <div class="col-lg-6">
              <div class="section-title-wrap mr-lg-30">
                  <h3>Our Green Energy Commitment</h3>
                  <p class="subtitle">
                    1. Renewable Energy Usage:
                    We power our manufacturing facilities with a significant percentage of renewable energy sources, minimizing our carbon footprint and contributing to a cleaner, greener planet.
                  </p>

                  <p class="subtitle">
                    2. Energy-Efficient Production:
                    Engginno embraces advanced technologies and processes to optimize energy consumption during manufacturing. Our commitment to energy efficiency ensures that our operations are as environmentally friendly as possible.
                  </p>

                  <p class="subtitle">
                    3. Recyclable Materials:
                    We prioritize the use of recyclable materials in our manufacturing processes, ensuring that our products are not only high-performance but also contribute to a circular economy.
                  </p>

                  <p class="subtitle">
                    4. Reduced Waste Generation:
                    Through rigorous waste management practices, we strive to minimize waste generation and actively participate in recycling programs. Our commitment to waste reduction extends across the entire product life cycle.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Img End -->
<!-- Img Start -->
<div class="section pt-0">
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="section-title-wrap mr-lg-30">
              <p class="subtitle">
                5. Carbon Neutral Operations:
                Engginno is dedicated to achieving carbon neutrality in all aspects of our operations. We invest in offsetting initiatives and continually seek innovative ways to reduce our carbon emissions.
              </p>

              <p class="subtitle">
                6. Supplier Sustainability:
                We collaborate with suppliers who share our commitment to green energy and sustainability. Together, we work towards creating a supply chain that reflects our values and environmental goals.
              </p>

              <p class="subtitle">
                7. Employee Engagement:
                At Engginno, sustainability is a collective effort. We empower our employees with the knowledge and tools to contribute to our green energy initiatives, fostering a culture of environmental responsibility.
                <br>
              </p>

              <p class="subtitle">
                8. Continuous Improvement:
                Our commitment to green energy is an ongoing journey. We regularly assess and improve our sustainability practices, embracing new technologies and strategies to further reduce our environmental impact.
              </p>
            </div>
        </div>
        <div class="col-lg-6 mb-lg-20 andro_single-img-wrapper">
          <img src="assets/img/images/img (9).png" alt="img">
          <div class="andro_dots_right"></div>
      </div>
    </div>
</div>
</div>
<!-- Img End -->
<!-- Call to action Start -->
<div class="section pt-0">
  <div class="container">
      <div class="andro_cta-notice secondary-bg pattern-bg">
          <div class="andro_cta-notice-inner">
              <h3 class="text-white">Buy Today and Get 20% Off</h3>
              <p class="text-white">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
              <a routerLink="/contact" class="andro_btn-custom light">Shop Now</a>
          </div>
      </div>
  </div>
  </div>
  <!-- Call to action End -->



<!-- Call to action Start -->
<div class="section pt-0">
  <div class="container">
      <div class="andro_cta-notice secondary-bg pattern-bg">
          <div class="andro_cta-notice-inner">
              <h3 class="text-white">Buy Today and Get 20% Off</h3>
              <p class="text-white">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
              <a routerLink="/contact" class="andro_btn-custom light">Shop Now</a>
          </div>
      </div>
  </div>
  </div>
  <!-- Call to action End -->

  <div class="section">
    <div class="container">
      <div class="row align-items-center mb-4">
        <div class="col-lg-8">
          <blockquote class="left">
            <p class="subtitle">
              At ENGGINNO, maintaining high-quality standards is an
              absolute priority. This commitment is embedded
              throughout our manufacturing operations.
            </p>
          </blockquote>
        </div>
        <div class="col-lg-4 d-flex flex-column" style="gap: 16px;">
          <div class="andro_machine_single-img-wrapper">
            <img src="assets/img/quality/STANDARD ROOM1.jpg" alt="img">
            <div class="andro_machine_dots_right"></div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-4">
        <div class="col-lg-4 d-flex flex-column" style="gap: 16px;">
          <div class="andro_machine_single-img-wrapper">
            <img src="assets/img/quality/STANDARD ROOM1.jpg" alt="img">
            <div class="andro_machine_dots_right"></div>
          </div>
        </div>
        <div class="col-lg-8">
          <blockquote class="right">
            <p class="subtitle">
              At ENGGINNO, maintaining high-quality standards is an
              absolute priority. This commitment is embedded
              throughout our manufacturing operations.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
