<ul class="navbar-nav">
    <!-- <li class="menu-item menu-item-has-children">
        <a routerLink="/">Home Pages</a>
        <ul class="sub-menu">
            <li class="menu-item"> <a routerLink="/">Home v1</a> </li>
            <li class="menu-item"> <a routerLink="/home-v2">Home v2</a> </li>
            <li class="menu-item"> <a routerLink="/home-v3">Home v3</a> </li>
        </ul>
    </li> -->

    <li class="menu-item menu-item-has-children">
        <a href="javascript:void(0)">About Us</a>
        <ul class="sub-menu">
          <!-- <li class="menu-item"> <a routerLink="/management">Our Management</a> </li> -->
          <li class="menu-item"> <a routerLink="/about">Company Brief</a> </li>
          <li class="menu-item"> <a routerLink="/quality">Quality Assurance</a> </li>
          <li class="menu-item"> <a routerLink="/commitment">Our Commitment</a> </li>
          <li class="menu-item"> <a routerLink="/certifications">Certifications & Standards</a> </li>
            <!-- <li class="menu-item"> <a routerLink="/login">Login</a> </li>
            <li class="menu-item"> <a routerLink="/register">Sign Up</a> </li>
            <li class="menu-item"> <a routerLink="/checkout">Checkout</a> </li>
            <li class="menu-item"> <a routerLink="/cart">Cart</a> </li>
            <li class="menu-item"> <a routerLink="/wishlist">Wish List</a> </li> -->
            <li class="menu-item"> <a routerLink="/legal">Legal</a> </li>
            <!-- <li class="menu-item"> <a routerLink="/error">Error 404</a> </li> -->
        </ul>
    </li>
    <li class="menu-item menu-item-has-children">
      <a href="javascript:void(0)">Infrastructure</a>
      <ul class="sub-menu">
        <li class="menu-item"> <a routerLink="/infrastructure" fragment="Admin">Admin Office</a> </li>
        <li class="menu-item"> <a routerLink="/infrastructure" fragment="Assembly">Assembly and Dispatch Area</a> </li>
        <li class="menu-item"> <a routerLink="/machining">Machining Shop</a> </li>
      </ul>
  </li>
    <li class="menu-item menu-item-has-children">
        <a routerLink="/products">Products</a>
        <!-- <ul class="sub-menu">
            <li>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mega-menu-item">
                                <h6>Membership Delivery</h6>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC,
                                    making it over 2000 years old.
                                </p>
                                <a routerLink="/login" class="andro_btn-custom shadow-none btn-sm">Become a Member</a>
                            </div>
                        </div>
                        <div class="offset-lg-1 col-lg-3">
                            <div class="mega-menu-item">
                                <h6>Shop Pages</h6>
                                <a routerLink="/shop-v1">Shop v1 (Default)</a>
                                <a routerLink="/shop-v2">Shop v2 (Full Width)</a>
                                <a routerLink="/products">Shop v3 (No Sidebar)</a>
                                <a routerLink="/shop-v4">Shop v4 (List view)</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mega-menu-item">
                                <h6>Product Details Pages</h6>
                                <a routerLink="/product/1">Product Details v1</a>
                                <a routerLink="/product-v2/1">Product Details v2</a>
                                <a href="#" class="coming-soon">Product Details v3 <span>Coming Soon</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul> -->
    </li>
    <!-- <li class="menu-item">
      <a routerLink="/events">Events</a>
    </li> -->
    <!-- <li class="menu-item">
      <a routerLink="/blogs">Blogs</a>
      <ul class="sub-menu">
          <li class="menu-item menu-item-has-children">
              <a routerLink="/blog-grid">Blog Archive</a>
              <ul class="sub-menu">
                  <li class="menu-item"> <a routerLink="/blog-grid">Grid View</a> </li>
                  <li class="menu-item"> <a routerLink="/blog-list">List View</a> </li>
                  <li class="menu-item"> <a routerLink="/blog-masonry">Masonry View</a> </li>
              </ul>
          </li>
          <li class="menu-item"> <a routerLink="/blog/1">Blog Single</a> </li>
      </ul>
    </li> -->
    <!-- <li class="menu-item">
      <a routerLink="/careers">Careers</a>
    </li> -->
    <li class="menu-item"> <a routerLink="/contact">Contact Us</a> </li>
</ul>
