<!-- Footer Start -->
<footer class="andro_footer {{layout}}" style="background-image:url(assets/img/footer.jpg)">
    <!-- Top Footer -->
    <div class="container">
        <div class="andro_footer-top">
            <div class="andro_footer-logo">
                <img [src]="logo" alt="logo">
            </div>
            <!-- <div class="andro_footer-buttons">
                <a href="#"> <img src="assets/img/android.png" alt="download it on the app store"></a>
                <a href="#"> <img src="assets/img/ios.png" alt="download it on the app store"></a>
            </div> -->
        </div>
    </div>
    <!-- Middle Footer -->
    <div class="andro_footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 footer-widget">
                    <h5 class="widget-title">Information</h5>
                    <ul>
                        <li> <a routerLink="/">Home</a> </li>
                        <!-- <li> <a routerLink="/blogs">Blogs</a> </li> -->
                        <li> <a routerLink="/products">Products</a> </li>
                        <li> <a routerLink="/about">About Us</a> </li>
                        <li> <a routerLink="/contact">Contact Us</a> </li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 footer-widget">
                    <h5 class="widget-title">Featured Products</h5>
                    <ul *ngFor="let product of featuredProducts">
                        <li> <a [routerLink]="['/', 'product', product.id]">{{product?.attributes?.name}}</a> </li>
                    </ul>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
                    <h5 class="widget-title">Others</h5>
                    <ul>
                        <li> <a routerLink="/checkout">Checkout</a> </li>
                        <li> <a routerLink="/cart">Cart</a> </li>
                        <li> <a routerLink="/product">Product</a> </li>
                        <li> <a routerLink="/shop-v1">Shop</a> </li>
                        <li> <a routerLink="/legal">Legal</a> </li>
                    </ul>
                </div> -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 footer-widget">
                    <h5 class="widget-title">Social Media</h5>
                    <ul class="social-media">
                        <li> <a routerLink="/" class="facebook"> <i class="fab fa-facebook-f"></i> </a> </li>
                        <li> <a routerLink="/" class="instagram"> <i class="fab fa-instagram"></i> </a> </li>
                        <li> <a routerLink="/" class="youtube"> <i class="fab fa-youtube"></i> </a> </li>
                        <li> <a routerLink="/" class="linkedin"> <i class="fab fa-linkedin-in"></i> </a> </li>
                    </ul>
                    <!-- <div class="andro_footer-offer">
                        <p>Signup and get exclusive offers and coupon codes</p>
                        <a href="#" class="andro_btn-custom btn-sm shadow-none">Sign Up</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="andro_footer-bottom">
        <div class="container">
            <ul>
                <li> <a routerLink="/legal">Privacy Policy</a> </li>
                <!-- <li> <a routerLink="/legal">Refund Policy</a> </li> -->
                <li> <a routerLink="/legal">Cookie Policy</a> </li>
                <li> <a routerLink="/legal">Terms & Conditions</a> </li>
            </ul>
            <div class="andro_footer-copyright">
                <p> Copyright © '24 <a routerLink="/">engginoo.com</a> All Rights Reserved. </p>
                <a href="javascript:void(0);" class="andro_back-to-top" id="backToTop" (click)="gotoTop()"
                    (window:scroll)="ScrolltoTop()">Back to top <i class="fas fa-chevron-up"></i> </a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
